.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: auto;
  padding-right: auto; */
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
button {
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  margin: auto;
  color: #ffffff;
  background: #4d5ae5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
button:hover,
button:focus {
  background-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* page header */
.page-header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}
.page-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 940px;
}
.logotype {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logotype:hover,
.logotype:focus {
  color: #404bbf;
}
.logo-text-h {
  color: #2e2f42;
}

.menu {
  display: flex;
  column-gap: 40px;
  margin-left: 76px;
}
.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-link:active {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.menu-adress {
  display: flex;
  align-items: center;

  column-gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.cont {
  color: #434455;
}
.cont:hover,
.cont:focus {
  color: #404bbf;
}
/* hero section */
.main-title {
  color: #fff;
  width: 496px;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  flex-shrink: 0;
  margin: 0 auto 48px;
}
.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
}
/* description section */
.description-list {
  background-color: #ffffff;
  display: flex;
  column-gap: 24px;
  /* width: 264px; */
  padding-left: 156px;
  padding-right: 156px;
  size: border-box 264px;
  margin: 0 auto 48px;
}
.description-item {
  width: calc((100% - 72px) / 4);
}
.description-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.main-description 
/* our team */
.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-top: 120px;
 
}
.team-list {
  display: flex;
  column-gap: 24px;
  width: calc((100% - 312px) / 4);
  margin-bottom: 32px;
}
.team-list-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-list-profession {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-list-item {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.team-list-item,
.team-list {
  background-color: #ffffff;
}
.our-team {
  background-color: #f4f4fd;
}
/* our portfolio */
.our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our-portfolio-list {
  width: calc((100% - 48px) / 3);

}
.our-portfolio-list-item {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.project-card-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.project-card-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list-profession {
  color: #434455;
}
/* footer */
.page-footer {
  background-color: #2e2f42;
}
.logotype-footer-link {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-text {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
