.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}
button {
  cursor: pointer;
  color: #ffffff;
  background: #4d5ae5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
button:hover,
button:focus {
  background-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logotype {
  text-decoration: none;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-text-h {
  color: #2e2f42;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-link:active {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.logotype:hover,
.logotype:focus {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-adress {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.cont {
  color: #434455;
}
.cont:hover,
.cont:focus {
  color: #404bbf;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.order-section {
  background-color: #2e2f42;
}
.description-list {
  background-color: #ffffff;
}
.description-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* our team */
.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-list-profession {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-list-item,
.team-list {
  background-color: #ffffff;
}
.our-team {
  background-color: #f4f4fd;
}
/* our portfolio */
.our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our-portfolio-list-item {
  background-color: #ffffff;
}
.project-card-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.project-card-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list-profession {
  color: #434455;
}
/* footer */
.page-footer {
  background-color: #2e2f42;
}
.logotype-footer-link {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-text {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
